/* Render literal-block like terminal output */
.rst-content pre.literal-block {
    border-radius: 8px;
    font-size: 90%;
    background-color: #1e1e1e;
    color: #ffffff;
}

/* Render inline literal in table: drop the borderbox, padding and
 * background */
.rst-content td tt.literal, .rst-content td code.literal {
    border: none;
    padding: unset;
    background: inherit;
    font-size: 90%;
}
